.button {
    width: 132px;
    height: 30px;
    padding: 5px 24px;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

.disabled {
    background: #004D99;
    opacity: 0.5;
    color: #002E5C;
}

.secondary {
    width: 176px;
    border: 1px solid #0066CC;
    color: #0066CC;
    background: transparent;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
    width: 176px;
    background: #0080FF;
    transition: 0.5s;
}

.red:hover {
    width: 176px;
    background: #FF1A47;
    transition: 0.5s;
}

.secondary:hover {
    background: #E5F0FA;
    transition: 0.5s;
}


.default:active {
    background: #0059B3
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    background: #004D99;
    opacity: 0.5;
    color: #002E5C;
}
